<!doctype html>
<meta charset='utf-8'>
<meta name=viewport content='width=device-width, initial-scale=1.0'>
<title>Ready Order - Kitchen</title>
<link rel=stylesheet type=text/css media=screen href=main.css>

<div id=room>
  <div class=row>
    <div class=table data-num=11><div class=num>11</div><div class=time></div></div>
    <div class=table data-num=12><div class=num>12</div><div class=time></div></div>
    <div class=table data-num=13><div class=num>13</div><div class=time></div></div>
    <div class=table data-num=14><div class=num>14</div><div class=time></div></div>
    <div class=table data-num=15><div class=num>15</div><div class=time></div></div>
  </div>
  <div class=row>
    <div class=table data-num=21><div class=num>21</div><div class=time></div></div>
    <div class=table data-num=22><div class=num>22</div><div class=time></div></div>
    <div class=table data-num=23><div class=num>23</div><div class=time></div></div>
    <div class=table data-num=24><div class=num>24</div><div class=time></div></div>
    <div class=table data-num=25><div class=num>25</div><div class=time></div></div>
  </div>
  <div class=row>
    <div class=table data-num=31><div class=num>31</div><div class=time></div></div>
    <div class=table data-num=32><div class=num>32</div><div class=time></div></div>
    <div class=table data-num=33><div class=num>33</div><div class=time></div></div>
    <div class=table data-num=34><div class=num>34</div><div class=time></div></div>
    <div class=table data-num=35><div class=num>35</div><div class=time></div></div>
  </div>
  <div class=row>
    <div class=table data-num=41><div class=num>41</div><div class=time></div></div>
    <div class=table data-num=42><div class=num>42</div><div class=time></div></div>
    <div class=table data-num=43><div class=num>43</div><div class=time></div></div>
    <div class=table data-num=44><div class=num>44</div><div class=time></div></div>
    <div class=table data-num=45><div class=num>45</div><div class=time></div></div>
    <div class=table data-num=46><div class=num>46</div><div class=time></div></div>
  </div>
</div>

<script src=/socket.io/socket.io.js></script>
<script>
  //@ts-check
  var socket = io();

  /** @type Array<number> */
  const timers = [];

  /**
   * Set the class for the appropriate div.table.
   * Remove any existing intervals.
   * Add an interval if appropriate.
   * TODO: May still need to clear div.time.textContent.
   *
   *  @param {{number: number, ready: boolean, start:number}} table
   */
  const setupTable = (table) => {
    document.querySelector(`.table[data-num="${table.number}"]`).classList.toggle('ready', table.ready);
    clearInterval(timers[table.number]);
      if (table.start) {
        timers[table.number] = setInterval(() => {
          const diffTotalMS = Date.now() - table.start;
          const numMinutes = Math.floor(diffTotalMS / 60000);
          const numSeconds = Math.floor((diffTotalMS - numMinutes * 60000) / 1000);
          document.querySelector(`.table[data-num="${table.number}"] .time`).textContent = `${numMinutes}:${`0${numSeconds}`.slice(-2)}`;
        }, 1000);
      }
  }

  socket.on('tables', (/** @type {Array<{number: number, ready: boolean, start:number}>} */ tables) => {
    console.log(tables);
    tables.forEach(table => setupTable(table));
  });

  socket.on('table', (/** @type {{number: number, ready: boolean, start:number}} */ table) => {
    console.log(table);
    setupTable(table);
  });

  document.querySelectorAll('.table').forEach((/** @type HTMLDivElement */ i) => i.addEventListener('click', e => socket.emit('toggle', i.dataset.num)));
</script>